* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  background-color: #547792;
}

.container {
  width: 500px;
  background-color: #213448;
  margin: 100px auto;
  text-align: center;
  padding: 20px;
  border: 2px solid black;
}

.container img {
  width: 400px;
}

.container p {
  color: #fbfcf5;
  font-weight: bold;
  font-size: 4rem;
  -webkit-text-stroke: 1px yellow;
}
